<footer class="border-top py-4" th:fragment="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 text-center text-md-start mb-2 mr-4">
        &copy; 2025 FoodShare Connect. All rights reserved.
      </div>
      <div class="col-12 col-md-6 text-center text-md-end">
        <a class="text-decoration-none text-muted mx-3" th:href="@{/foodshare/policy}">Privacy Policy</a>
        <a class="text-decoration-none text-muted mx-3" th:href="@{/foodshare/terms}">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>